
body{
	font-family: "Microsoft YaHei";
	color: #FFFFFF;
}

a{
	color: #FFFFFF;
}

img{
	display: inline-block;
}

h1{
	margin-bottom: 10px;
	font-size: 350%;
}

h2{
	display: inline-block;
	vertical-align: top;
	font-size: 190%;
	line-height: 150%;
}

h3{
	font-size: 180%;
	line-height: 150%;
}

h4{
	font-size: 160%;
}

p{
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

/*   几个区域共用的属性   */
.download li a,#welcome a{
	color: aquamarine;
}

.download li a:hover,#welcome a:hover{
	color:aqua;
}

.download li,.content li{
	list-style-position: inside;
	list-style-type:disc;
}

/*每个内容区通用的属性*/
.contentBlock {
    width: 100%;
    height: 100%;
	/*margin: 35% 0;*/
	margin-top: 1000px;
}

/*  侧边栏的通用属性 */
.side{
	position: fixed;
	left: 6.5%;
	width: 13%;
	max-width: 205px;
	min-width: 190px;
	text-align: center;
}

/*  背景阴影  */
#background_shadow{
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: url('../img/background-shadow.png');
	opacity: 0.35;
	z-index: -1;
}

/*  背景图片   */
#background_img{
	position: fixed;
	vertical-align: middle;
	z-index: -2;
}

/*   导航栏   */
#nav{
	height: 100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0) 78%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.29)), color-stop(78%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.29) 0%,rgba(0,0,0,0) 78%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000',GradientType=0 );
}

#nav p{
	margin:30px 0;
	font-size: 350%;
}

#nav ul{
	font-size: 120%;
}

#nav a{
	display: block;
	padding-top:5px;
	width:100%;
	height: 35px;
	text-decoration: none;
}

#nav > a{
    height: 130px;
}

#nav a:hover{
	background-color: rgba(0,0,0,0.5);
	text-decoration: none;
}

/*    主要内容    */
#main_content{
	position: absolute  ;
	width: 72%;
	margin-left: 23%;
}

/*    欢迎界面   */
#welcome{
	margin-top: 10%;
	text-align: right;
}

p span{
    font-size:140%;
    color:cornflowerblue;
}

#welcome p{
	width: 41%;
	margin-left: 60px;
}

/*    网维简介界面   */
#instruction{
	text-align: right;
}

#instruction p{
	font-size:130%;
	line-height: 160%;
}

/*   技能点界面   */
#feature{
	margin-left: 30px;
}

.row{
	margin-bottom: 20px;
}

.block{
	display: inline-block;
	width:30%;
	margin-left: 15px;
	vertical-align: top;
}

.block h4,.block p{
	margin-left: 60px;
}

.block_img{
	float: left;
	width: 48px;
	height: 48px;
	background: url('../img/combined.png') no-repeat top left;
}

#feature h5{
	margin-bottom: 20px;
}

/*    技能点界面各个icon的设置   */
.icon1{
	background-position: -1px -1461px;
}

.icon2{
	background-position: -98px 0;
}

.icon3{
	background-position: -98px -588px;
}

.icon4{
	background-position: 0 0;
}

.icon5{
	background-position: 0 -1265px;
}

.icon6{
	background-position: 0 -1069px;
}

/*     便捷导航界面    */
#convenient{
	margin-left: 30px;
}

#convenient h5{
	margin-bottom: 30px;
}

.download{
	display: inline-block;
	width: 40%;
	min-height: 230px;
	padding: 15px;
	margin-left: 5%;
	vertical-align: top;
	border: dotted #FFFFFF 2px;
}

.dl_head img{
	margin-right: 10px;
}

.button{
	display: block;
	width: 200px;
	height:35px;
    margin:10px 0 10px 30px;
    text-align: center;
    font-size: 150%;
    border-radius: 30%;
	border: solid #FFFFFF 1px;
	text-decoration: none;
}

.button:hover{
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
}

/*   报修及投诉界面  */
#contact{
    margin-left: 30px;
	margin-bottom: 400px;
}

.content{
    display: inline-block;
	width: 45%;
    margin-left: 5%;
	vertical-align: top;
}

.active{
    background-color: rgba(0,0,0,0.3);
}

/*    页脚    */
footer{
    bottom:1%;
}

footer p{
    font-size: 60%;
}

/*   返回顶部   */
#go_top{
	position: fixed;
    display: none;
    left: 2%;
    bottom:2%;
}